version: '3.0'

services:
  mongodb:
    image: mongo:6.0.9-rc0
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ${HOME}/certify/mongodb/data/db:/data/db

  api_server:
    # use image for stable version
    image: violetto96/certify_api_server:v0.1.0
    volumes:
      - ${HOME}/certify/server_logs:${HOME}/certify/logs
      - ${HOME}/certify/ssl:/app/ssl
    environment:
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      API_AUTH_KEY: ${API_AUTH_KEY}
      GUNICORN_CMD_ARGS: "--access-logfile ${HOME}/certify/logs/gunicorn_access.log --error-logfile ${HOME}/certify/logs/gunicorn_error.log"
    ports:
      - "8000:8000"