version: '3.0'

services:
  mongodb:
    image: mongo:6.0.9-rc0
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: certifydb
    ports:
      - "27017:27017"
    volumes:
      - ${HOME}/mongodb/data/db:/data/db

  api_server:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ${HOME}/certify/logs:${HOME}/certify/logs
    environment:
      DB_USERNAME: admin
      DB_PASSWORD: certifydb
      API_AUTH_KEY: random_key
      GUNICORN_CMD_ARGS: "--access-logfile ${HOME}/certify/logs/gunicorn_access.log --error-logfile ${HOME}/certify/logs/gunicorn_error.log"
    ports:
      - "8000:8000"
